@import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: red;
  color: white;
}

html, body {
  margin: 0;
  padding: 0;
}

.container {
  padding: 56px 0;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 

NAVIGATION BAR

*/

#navbar {
  width: 100%;
  max-width: 1200px;
  height: 120px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 12px 32px;
}

.navbar__img {
  width: 300px;
}

.navbar__links {
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__links--link {
  text-decoration: none;
  color: white;
  font-size: 28px;
  transition: all 500ms ease;
}

.navbar__links--link:hover {
  color: yellow;
  transition: all 300ms ease;
}

/*

HEADER

*/

#header {
  text-align: center;
}

.header__maintitle {
  margin: 12px 0;
  font-size: 80px;
  color: yellow;
}

.header__subtitle {
  font-weight: normal;
  font-size: 32px;
}

.header__sub {
  width: 50%;
  margin: 24px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__sub--button {
  padding: 18px 32px;
  font-size: 24px;
  border: none;
  background-color: rgba(85, 85, 241);
  border-radius: 9999px;
  transition: all 500ms ease;
  cursor: pointer;
}

.header__sub--button:hover {
  background-color: white;
  color: black;
  transition: all 300ms ease;
}

.bouncy__pikachu {
  margin-top: 24px;
  width: 75%;
  animation: mover 2s infinite ;
}

@keyframes mover {
  0% { transform: translateY(0); }
  50% { transform: translateY(-20px); }
  100% { transform: translateY(0); }
}

/*

SEARCH PAGE

*/

#search {
  width: 100%;
  margin: 0 auto;
}

.search__maintitle {
  font-weight: normal;
}

.searchbar {
  width: 100%;
  text-align: center;
}

.searchbar__input {
  margin-top: 24px;
  width: 50%;
  padding: 12px;
  font-size: 24px;
  border: 2px solid white;
  background-color: white;
  color: black;
  border-radius: 9999px;
}

.searchbar__button {
  margin-left: 16px;
  font-size: 24px;
  padding: 12px;
  border-radius: 12px;
  border: none;
  background-color: white;
  color: black;
  cursor: pointer;
  transition: all 500ms ease;
}

.searchbar__button:hover {
  background-color: blue;
  color: white;
  transition: all 300ms ease;
}

.results {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}

.resultcard {
  width: 30%;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 12px;
  justify-content: center;
  border: 4px solid white;
  border-radius: 16px;
  text-decoration: none;
  cursor: pointer;
}

.resultcard__img {
  width: 100%;
}

.loading__pikachu {
  width: 25%;
  animation: mover 2s infinite;
}

.error__cubone {
  width: 25%;
  margin-bottom: 12px;
}

/*

DETAILS PAGE

*/

#details {
  width: 100%;
}

.details__container {
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.details__img {
  width: 50%;
}

/*

POKEDEX

*/

.pokedex__container {
  width: 100%;
  height: 100%;
  margin-top: 12px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.pokedexcard {
  width: 300px;
  margin: 12px;
  display: flex;
  border: 2px solid white;
  padding: 72px;
  border-radius: 9999px;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.pokedexcard__pokemon {
  transition: all 300ms ease;
}

.pokedexcard__pokemon:hover {
  color: yellow;
  transition: all 300ms ease;
}

.pokedex__buttons {
  width: 50%;
  margin-top: 32px;
  display: flex;
  justify-content: center;
}

.pokedex__buttons--button {
  margin: 12px;
  padding: 12px;
  border: 2px solid white;
  border-radius: 9999px;
  transition: all 500ms ease;
  cursor: pointer;
}

.pokedex__buttons--button:hover {
  background-color: white;
  color: black;
  transition: all 500ms ease;
}

@media (max-width: 860px) {
  .header__maintitle {
    font-size: 60px;
  }

  .header__subtitle {
    font-size: 28px;
  }

  .navbar__links--link {
    font-size: 20px;
  }
}

@media (max-width: 647px) {
  .row {
    text-align: center;
  }

  .bouncy__pikachu {
    width: 400px;
  }
}

@media (max-width: 600px) {
  .firstlink {
    display: none;
  }

  .navbar__links {
    display: flex;
    justify-content: center;
  }

  .resultcard {
    width: 300px;
  }
}

@media (max-width: 571px) {
  .bouncy__pikachu {
    width: 300px;
  }

  .navbar__img {
    width: 220px;
  }

  .container {
    margin: 0 12px;
  }
}

@media (max-width: 380px) {
  .navbar__img {
    width: 200px;
  }
}